* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #252b3b;
  --font-color: #c4dffa;
  --bg-back: #000002;
  --font-hover: #027dba;
  --font-light: #fefefe;

  /* sizing */
  --lg-font: 2rem;
  --md-font: 1rem;
  --sm-font: 0.5rem;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
  background: var(--bg-back);
  color: var(--font-color);
}

.main-content {
  min-height: 90vh;
  width: 40vw;
  background: var(--bg-color);
  /* border: 4px solid red; */
  /* overflow: hidden;  */
  border-radius: 10px;
}

.email {
  font-size: var(--md-font);
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--font-hover);
  border-radius: 0.5rem;
}

.inputFake {
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background-color: inherit;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inputHidden {
  border: 1px solid red;
}

input {
  border: none;
  outline: none;
  /* padding: 0 !important; */
  /* margin: 0 !important; */

  background-color: inherit;
  color: inherit;
}
